<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='http://act.cnhubei.com/static/weui.min.css' />
    <link rel='stylesheet' href='http://act.cnhubei.com/static/face/css/common.css' />
    <link rel='stylesheet' href='css/center.css' />
    <script type="text/javascript" src='http://act.cnhubei.com/static/jquery.min.js'></script>
    <script type="text/javascript" src='http://act.cnhubei.com/static/juicer.js'></script>
    <script type="text/javascript" src='http://act.cnhubei.com/static/weui.min.js'></script>
    <script type="text/javascript" src='js/common/common.js'></script>
    <title>个人中心</title>
    <script>
        (function (doc, win) { 
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            docEl.style.fontSize = parseInt(100 * (clientWidth / 320) * 320 / 750,10) + 'px';
            };
        if (!doc.addEventListener) return; 
        doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <style type="text/css">
        
    </style>
</head>
<body>
    <div id="wrapper" class="container">
        <div class="top">
            <div class="avatar">
                <img src="http://dj.hifidiy.net/web/images/usericon.JPG">
            </div>
            <div class="info-box">
                <span>会员：汪海波</span>
                <span>所在支部：荆楚网第一支部</span>
                <span class="time">学习时长：28分钟</span>
            </div>
        </div>

        <div class="tab-bar">
            <span class="xxls">学习历史</span>
            <span class="xinde">心得体会</span>
            <span class="dzzs">电子结业证</span>
        </div>
        <div class="more-bar fav">我的收藏<span class="more"></span></div>
        <div class="more-bar task">我的任务<span class="more"></span></div>

        <div class="order-bar">
            <span class="o-time">时长排名</span>
            <span class="o-score">积分排名</span>
        </div>
        <ul class="order-list">
            <li class="active">
                <span class="index">1</span>
                <span class="name">余杨志</span>
                <span class="time">时长：1小时30分钟</span>
            </li>
            <li>
                <span class="index">2</span>
                <span class="name">余杨志</span>
                <span class="time">时长：1小时30分钟</span>
            </li>
            <li>
                <span class="index">3</span>
                <span class="name">余杨志</span>
                <span class="time">时长：1小时30分钟</span>
            </li>
            <li>
                <span class="index">4</span>
                <span class="name">余杨志</span>
                <span class="time">时长：1小时30分钟</span>
            </li>
            <li>
                <span class="index">5</span>
                <span class="name">余杨志</span>
                <span class="time">时长：1小时30分钟</span>
            </li>
            <li>
                <span class="index">6</span>
                <span class="name">余杨志</span>
                <span class="time">时长：1小时30分钟</span>
            </li>
            <span class="rtbar"></span>
            
        </ul>
    </div>
</body>
</html>