<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta name="applicable-device" content="mobile">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no">
	<base href="http://10.99.13.128:8200/">
	<link rel='stylesheet' href='http://s.act.cnhubei.com/static/reform/css/common.css' />
	<link rel='stylesheet' href='http://s.act.cnhubei.com/static/reform/css/weui.min.css' />
	<title>信息</title>
	<script>
		(function (doc, win) { 
			var docEl = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
				recalc = function () {
					var clientWidth = docEl.clientWidth;
					if (!clientWidth) return;
					docEl.style.fontSize = parseInt(100 * (clientWidth / 320) * 320 / 640,10) + 'px';
				};
			if (!doc.addEventListener) return; 
			doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
 	</script>
</head>
<body>
	<div class="weui-msg">
		<div class="weui-msg__icon-area">
			<i class="weui-icon-warn weui-icon_msg"></i>
		</div>
		<div class="weui-msg__text-area">
			<h2 class="weui_msg_title">
				<a href="http://act.cnhubei.com/reform">链接失效啦，点击重试</a>
			</h2>
		</div>
	</div>
</body>
</html>