<!DOCTYPE html>
<html>
<head>
<%- include common/meta.ejs %>
<title>首届“湖北改革奖”评选</title>
<script>
  (function (doc, win) { 
	var docEl = doc.documentElement,
	  resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
	  recalc = function () {
		var clientWidth = docEl.clientWidth;
		if (!clientWidth) return;
		docEl.style.fontSize = parseInt(100 * (clientWidth / 320) * 320 / 640,10) + 'px';
	  };
	if (!doc.addEventListener) return; 
	doc.addEventListener('DOMContentLoaded', recalc, false);
  })(document, window);
</script>
</head>
<body>
	<div style="display: none;">
		<img src="img/header.png">
	</div>
	<div id="wrapper" class="container">
		<div class="bn"></div>
		<div class="active-info"></div>
		<div class="type-panel" style="text-align:center;font-size: 0.6rem;">
			活动结束
		</div>

		<div id="user_list" class="pman-panel"></div>
		<div class="footer">
			<div class="btn-panel" style="opacity:0;">
				<span class="btn-vote"></span>
			</div>
			<div class="footer-code"><img src="http://s.act.cnhubei.com/static/reform/img/code.jpg"></div>
			<p>湖北日报网</p>
		</div>
	</div>
</body>
</html>