<!DOCTYPE html>
<html>
<head>
    <%- include common/meta.ejs %>
    <title>心得体会</title>
    <script>
        $(function () {
            //var appendTestData = Common.appendTestData,
            //    bindEvent = Common.bindEvent,
            // 记录一个最新
            var maxDataSize = 30,
                listDom = document.querySelector('#listdata'),
                requestDelayTime = 600,
                isCssTranslate = true;

            var miniRefresh = new MiniRefresh({
                container: '#minirefresh',
                down: {
                    // 本主题的特色，是否开启wrap的css translate
                    // 虽然继承自default的主题也有这个变量，但是目前只建议在defaul和applet中使用
                    // default默认是关闭的 applet默认是开启的
                    isWrapCssTranslate: isCssTranslate,
                    callback: function () {
                        setTimeout(function () {
                            // 每次下拉刷新后，上拉的状态会被自动重置
                            //appendTestData(listDom, 10, true);
                            miniRefresh.endDownLoading(true);
                        }, requestDelayTime);
                    }
                },
                up: {
                    isAuto: true,
                    callback: function () {
                        setTimeout(function () {
                            // appendTestData(listDom, 10);
                            miniRefresh.endUpLoading(listDom.children.length >= maxDataSize ? true : false);
                        }, requestDelayTime);
                    }
                }
            });

        });
    </script>
</head>
<body>
    <div class="sl-box-wrapper">
        <div class="sl-box">            
            <div id="minirefresh" class="minirefresh-wrap">
                <div class="minirefresh-scroll">
                    <%- include common/header.ejs %>
                    <ul class="pub-ul-exp" id="listdata">
                        <li class="pub-box-border">
                            <div class="user-info-area">
                                <div class="user-icon"><img src="images/usericon.JPG" /></div>
                                <div class="user-info">
                                    <h2>会员：胡黎</h2>
                                    <p>所在支部：荆楚网第一支部</p>
                                    <p>课程：19大报告</p>
                                </div>
                            </div>
                            <h3>湖北最冷的时候到了! 武汉要下8天雪</h3>
                            <div class="user-study-info"><span class="s-box s-icon-clock left">时长：1小时30分钟</span><span class="s-box s-icon-view right">阅读量：2130</span></div>
                        </li>
                        <li class="pub-box-border">
                            <div class="user-info-area">
                                <div class="user-icon"><img src="images/usericon.JPG" /></div>
                                <div class="user-info">
                                    <h2>会员：胡黎</h2>
                                    <p>所在支部：荆楚网第一支部</p>
                                    <p>课程：19大报告</p>
                                </div>
                            </div>
                            <h3>湖北最冷的时候到了! 武汉要下8天雪是真的吗</h3>
                            <div class="user-study-info"><span class="s-box s-icon-clock left">时长：1小时30分钟</span><span class="s-box s-icon-view right">阅读量：2130</span></div>
                        </li>
                        <li class="pub-box-border">
                            <div class="user-info-area">
                                <div class="user-icon"><img src="images/usericon.JPG" /></div>
                                <div class="user-info">
                                    <h2>会员：胡黎</h2>
                                    <p>所在支部：荆楚网第一支部</p>
                                    <p>课程：19大报告</p>
                                </div>
                            </div>
                            <h3>湖北最冷的时候到了! 武汉要下8天雪</h3>
                            <div class="user-study-info"><span class="s-box s-icon-clock left">时长：1小时30分钟</span><span class="s-box s-icon-view right">阅读量：2130</span></div>
                        </li>
                        <li class="pub-box-border">
                            <div class="user-info-area">
                                <div class="user-icon"><img src="images/usericon.JPG" /></div>
                                <div class="user-info">
                                    <h2>会员：胡黎</h2>
                                    <p>所在支部：荆楚网第一支部</p>
                                    <p>课程：19大报告</p>
                                </div>
                            </div>
                            <h3>湖北最冷的时候到了! 武汉要下8天雪</h3>
                            <div class="user-study-info"><span class="s-box s-icon-clock left">时长：1小时30分钟</span><span class="s-box s-icon-view right">阅读量：2130</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%- include common/footer.ejs %>
</body>
</html>