<!DOCTYPE html>
<html>
<head>
	<%- include common/meta.ejs %>
	<title>湖北十大科技事件评选</title>
	<script>
		(function (doc, win) { 
			var docEl = doc.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function () {
			var clientWidth = docEl.clientWidth;
			if (!clientWidth) return;
			docEl.style.fontSize = parseInt(100 * (clientWidth / 320) * 320 / 640,10) + 'px';
			};
			if (!doc.addEventListener) return; 
			doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
	<style type="text/css">
		.p-captcha svg{
			width: 80vw !important;
			height: 77vw !important;
		}
	</style>
</head>
<body>
	<div style="display: none;">
		<img src="img/header.jpg">
	</div>
	<div id="wrapper" class="container">
		<div class="bn"></div>
		<div class="active-info">
			<div class="vote-desc">
				<div class="vote-desc-content" style="text-align: justify;">为深入学习贯彻落实党的十九大精神，全面展示湖北科技创新工作2017年度成果和业绩，为创新驱动营造良好的舆论氛围，12月1日，省科技厅正式启动2017年度湖北“十大科技事件”评选活动。<span class="vote-desc-more" data-more="为深入学习贯彻落实党的十九大精神，全面展示湖北科技创新工作2017年度成果和业绩，为创新驱动营造良好的舆论氛围，12月1日，省科技厅正式启动2017年度湖北“十大科技事件”评选活动。此次湖北“十大科技事件”评选，主要面向2017年度湖北省境内科技体制改革、科技创新活动、科技发展成就等方面具有重大影响的事件进行征集和评选。最终收到了省直部门、高校院所、科技行政系统和相关科技企业推荐的54件备选事件。按照“社会影响力大、政策引导性强；符合国家战略、体现科技先进性”的原则，经省科技厅厅长办公会审定了20项备选科技事件接受社会公众网络投票。网络投票结束后，将参考投票情况，经厅长办公会审定，最终确定2017年湖北省“十大科技事件”。" >[详细]</span></div>
			</div>
			<p style="font-size:0.28rem;font-weight:500;">[投票时间]</p>
			<p>2018年1月8日08：00—2018年1月14日17：30</p>
			<p style="font-size:0.28rem;font-weight:500;margin-top:0.1rem;">[投票规则]</p>
			<p>1.一个微信号一天投一次，一次可以为10个事件投票。</p>
			<p>2.系统具有投票日志分析系统和报警系统，如果发现刷票行为，将视为无效投票。</p>
		</div>
		<div id="user_list" class="pman-panel"></div>
		<div class="footer">
			<div class="qrcode">
				<img src="img/code.jpg">
			</div>
			<div class="weui-footer">
	            <p class="weui-footer__text" style="color:#333;">Copyright © 2018 cnhubei.com</p>
	        </div>
			<!-- <div class="btn-panel">
				<span class="btn-vote"></span>
			</div> -->
		</div>
	</div>
	<div id="captcha" class="p-captcha"></div>
	<div id="loadingToast" class="weui_loading_toast" style="display:none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<div class="weui_loading">
				<div class="weui_loading_leaf weui_loading_leaf_0"></div>
				<div class="weui_loading_leaf weui_loading_leaf_1"></div>
				<div class="weui_loading_leaf weui_loading_leaf_2"></div>
				<div class="weui_loading_leaf weui_loading_leaf_3"></div>
				<div class="weui_loading_leaf weui_loading_leaf_4"></div>
				<div class="weui_loading_leaf weui_loading_leaf_5"></div>
				<div class="weui_loading_leaf weui_loading_leaf_6"></div>
				<div class="weui_loading_leaf weui_loading_leaf_7"></div>
				<div class="weui_loading_leaf weui_loading_leaf_8"></div>
				<div class="weui_loading_leaf weui_loading_leaf_9"></div>
				<div class="weui_loading_leaf weui_loading_leaf_10"></div>
				<div class="weui_loading_leaf weui_loading_leaf_11"></div>
			</div>
			<p class="weui_toast_content">数据加载中</p>
		</div>
	</div>

	<script type="text/juicer" id="user_list_tpl">
		{@each list as obj, index}
			<div class="pman-detail">
				<div class="avatar" data-url="${obj.link}">
					<img src="${obj.pic}" >
				</div>
				<div class="pman-content">
					<div class="pman-info">
						<span>${obj.title}</span>
					</div>
					<div class="pman-desc">
						<div class="pman-desc-content">
							${obj.info|formatInfo}
						</div>
						<a href="javascript:void(0);" class="more" data-more="${obj.info}" data-fold="${obj.info|formatInfo}">[更多]</a>
					</div>
				</div>
				<div class="btn-wrapper">
					<span data-id="${obj.id}" class="btn-vote"><i class="ico-vote"></i>投票</span>
					<span class="txt-count" data-count="${obj.count}">${obj.count}&nbsp;票</span>
				</div>
			</div>
		{@/each}
	</script>
 	<script type="text/javascript"	src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		var signature = '';
		var signatureLink = "http://xmdx.dev.cnhubei.com/gsw/signature/jcw";
		var currLink = location.href.split('#')[0];
		var appId = "wxf947d7d09ef1f584";
		var timestamp = "1414587499";
		var nonceStr = "xkXGEs8VMCP";
		var shareLink = 'http://act.cnhubei.com/sdkj/index';
		var title = '湖北十大科技事件评选';
		var imgUrl = "http://act.cnhubei.com/static/sdkj/img/logo.jpg";
		var desc = "12月1日，省科技厅正式启动2017年度湖北“十大科技事件”评选活动。";
		$.ajax({
			url : signatureLink,
			async : false,
			data : {url : currLink},
			success : function(data){
				signature = data;
			}
		});
		wx.config({
			// debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: appId, // 必填，公众号的唯一标识
			timestamp: timestamp, // 必填，生成签名的时间戳
			nonceStr: nonceStr, // 必填，生成签名的随机串
			signature: signature,// 必填，签名，见附录1
			jsApiList: ['hideOptionMenu','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ'] 
		});
		wx.hideOptionMenu();
	 	wx.ready(function(){
			wx.showOptionMenu();
			wx.onMenuShareTimeline({
				title: title, // 
				link: shareLink, // 分享链接
				imgUrl: imgUrl, // 分享图标
				success: function () { 
				},
				cancel: function () { 
				}
			});

			wx.onMenuShareAppMessage({
				title: title, // 分享标题
				desc: desc, // 分享描述
				link: shareLink, // 分享链接
				imgUrl: imgUrl, // 分享图标
				type: '', // 分享类型,music、video或link，不填默认为link
				dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				success: function () { 
				},
				cancel: function () { 
				}
			});

			wx.onMenuShareQQ({
				title: title, // 分享标题
				desc: desc, // 分享描述
				link: shareLink, // 分享链接
				imgUrl: imgUrl, // 分享图标
				type: '', // 分享类型,music、video或link，不填默认为link
				dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				success: function () { 
				},
				cancel: function () { 
				}
			});
		});
	</script>

	<script src="https://static.geetest.com/static/tools/gt.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
 	<script type="text/javascript">
		$(document).ready(function(){
			moka.index.init();
		});
	</script>
</body>
</html>
