<!DOCTYPE html>
<html>
<head>
    <%- include common/meta.ejs %>
    <title>课程列表</title>
    <script>
        $(function () {
            //var appendTestData = Common.appendTestData,
            //    bindEvent = Common.bindEvent,
                // 记录一个最新
            var   maxDataSize = 30,
                listDom = document.querySelector('#listdata'),
                requestDelayTime = 600,
                isCssTranslate = true;

            var miniRefresh = new MiniRefresh({
                container: '#minirefresh',
                down: {
                    // 本主题的特色，是否开启wrap的css translate
                    // 虽然继承自default的主题也有这个变量，但是目前只建议在defaul和applet中使用
                    // default默认是关闭的 applet默认是开启的
                    isWrapCssTranslate: isCssTranslate,
                    callback: function () {
                        setTimeout(function () {
                            // 每次下拉刷新后，上拉的状态会被自动重置
                            //appendTestData(listDom, 10, true);
                            miniRefresh.endDownLoading(true);
                        }, requestDelayTime);
                    }
                },
                up: {
                    isAuto: true,
                    callback: function () {
                        setTimeout(function () {
                           // appendTestData(listDom, 10);
                            miniRefresh.endUpLoading(listDom.children.length >= maxDataSize ? true : false);
                        }, requestDelayTime);
                    }
                }
            });

        });
    </script>
</head>
<body>
    <div class="sl-box-wrapper">
        <div class="sl-box">
            <div id="minirefresh" class="minirefresh-wrap">
                <div class="minirefresh-scroll">
                    <%- include common/header.ejs %>
                    <div id="listdata">
                         <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">开篇：实现“两个一百年”奋斗目标和中华民族伟大复兴的科学理论指导和行动指南</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group33/M03/E1/97/wKgJUVoFatTgsw7IAAHOjDBToSk048_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《习近平总书记系列重要讲话读本》（2016年版）</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：9分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：666</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《中华民族近代以来最伟大的梦想》1.中国梦凝聚了几代中国人的夙愿</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group33/M03/E1/99/wKgJUVoFauOzKHAfAAHOjDBToSk215_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《中华民族近代以来最伟大的梦想》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：5分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：125</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《中华民族近代以来最伟大的梦想》2.中国梦归根到底是人民的梦</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group33/M03/E1/9A/wKgJUVoFavCglf08AAHOjDBToSk550_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《中华民族近代以来最伟大的梦想》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：4分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：165</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《中国民族近代以来最伟大的梦想》3.坚持中国道路、弘扬中国精神、凝聚中国力量</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group34/M05/FF/3A/wKgJYFoFav2Dq_9iAAHOjDBToSk232_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《中华民族近代以来最伟大的梦想》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：6分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：158</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《中国民族近代以来最伟大的梦想》4.实干才能梦想成真</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group34/M05/73/DC/wKgJYVoFaxDACkCAAAHOjDBToSk903_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《中华民族近代以来最伟大的梦想》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：4分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：220</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《中国民族近代以来最伟大的梦想》5.中国梦与世界各国人民的美好梦想相通</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group30/M05/D7/15/wKgJXloFayPA6r0CAAHOjDBToSk741_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《中华民族近代以来最伟大的梦想》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：4分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：80</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《实现中华民族伟大复兴的必由之路》1.中国特色社会主义是历史的结论、人民的选择</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group30/M05/D7/16/wKgJXloFazOQ8ZYqAAHOjDBToSk696_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《实现中华民族伟大复兴的必由之路》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：12分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：345</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《实现中华民族伟大复兴的必由之路》2.道路、理论体系、制度三位一体构成</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group30/M05/FB/D0/wKgJWloFa0ChAW99AAHOjDBToSk964_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《实现中华民族伟大复兴的必由之路》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：4分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：244</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《实现中华民族伟大复兴的必由之路》3.中国特色社会主义是社会主义不是其他什么主义</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group30/M05/D7/1A/wKgJXloFa0uSapbCAAHOjDBToSk657_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《实现中华民族伟大复兴的必由之路》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：6分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：152</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《实现中华民族伟大复兴的必由之路》4.正确认识改革开放前后两个历史时期</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group30/M05/FB/D4/wKgJWloFa1fwMzFlAAHOjDBToSk410_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《实现中华民族伟大复兴的必由之路》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：5分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：124</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《实现中华民族伟大复兴的必由之路》5.丰富和发展当代中国马克思主义</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group31/M03/62/92/wKgJSVoFa2PioHInAAHOjDBToSk349_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《实现中华民族伟大复兴的必由之路》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：8分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：114</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">《实现中华民族伟大复兴的必由之路》6.继续把中国特色社会主义这篇大文章写下去</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="http://fdfs.xmcdn.com/group31/M04/C8/B1/wKgJX1oFa2_SCRBeAAHOjDBToSk303_mobile_small.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：习近平</h3>
                                        <div class="desc">《实现中华民族伟大复兴的必由之路》</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：6分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：271</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include common/footer.ejs %>
</body>
</html>