<!DOCTYPE html>
<html>
<head>
    <%- include common/meta.ejs %>
    <title>课程列表</title>
    <script>
        $(function () {
            //var appendTestData = Common.appendTestData,
            //    bindEvent = Common.bindEvent,
                // 记录一个最新
            var   maxDataSize = 30,
                listDom = document.querySelector('#listdata'),
                requestDelayTime = 600,
                isCssTranslate = true;

            var miniRefresh = new MiniRefresh({
                container: '#minirefresh',
                down: {
                    // 本主题的特色，是否开启wrap的css translate
                    // 虽然继承自default的主题也有这个变量，但是目前只建议在defaul和applet中使用
                    // default默认是关闭的 applet默认是开启的
                    isWrapCssTranslate: isCssTranslate,
                    callback: function () {
                        setTimeout(function () {
                            // 每次下拉刷新后，上拉的状态会被自动重置
                            //appendTestData(listDom, 10, true);
                            miniRefresh.endDownLoading(true);
                        }, requestDelayTime);
                    }
                },
                up: {
                    isAuto: true,
                    callback: function () {
                        setTimeout(function () {
                           // appendTestData(listDom, 10);
                            miniRefresh.endUpLoading(listDom.children.length >= maxDataSize ? true : false);
                        }, requestDelayTime);
                    }
                }
            });

        });

    </script>
</head>
<body>
    <%- include common/header.ejs %>
    <div class="sl-box-wrapper">
        <div class="sl-box">
            <div id="minirefresh" class="minirefresh-wrap">

                <div class="minirefresh-scroll">
                    <div id="listdata">

                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">正在学习：湖北最冷的时候到了! 武汉要下8天雪是真的吗湖北最冷的时候到了! 武汉要下8天雪是真的吗</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="images/i003.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：胡黎</h3>
                                        <div class="desc">中国人民大学国际关系学院教授</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：1小时30分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：198</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">正在学习：湖北最冷的时候到了! 武汉要下8天雪</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="images/i003.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：胡黎</h3>
                                        <div class="desc">中国人民大学国际关系学院教授</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：1小时30分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：198</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">正在学习：湖北最冷的时候到了! 武汉要下8天雪是真的吗湖北最冷的时候到了! 武汉要下8天雪是真的吗</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="images/i003.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：胡黎</h3>
                                        <div class="desc">中国人民大学国际关系学院教授</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：1小时30分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：198</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">正在学习：湖北最冷的时候到了! 武汉要下8天雪是真的吗湖北最冷的时候到了! 武汉要下8天雪是真的吗</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="images/i003.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：胡黎</h3>
                                        <div class="desc">中国人民大学国际关系学院教授</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：1小时30分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：198</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pub-box pub-box-border">
                            <div class="title-box">
                                <div class="title">正在学习：湖北最冷的时候到了! 武汉要下8天雪是真的吗湖北最冷的时候到了! 武汉要下8天雪是真的吗</div>
                            </div>
                            <div class="content-box">
                                <div class="item">
                                    <div class="pic-thumb"><img src="images/i003.jpg" /></div>
                                    <div class="c-box">
                                        <h3>主讲：胡黎</h3>
                                        <div class="desc">中国人民大学国际关系学院教授</div>
                                        <div class="otherInfo"><span class="s-box s-icon-sj">时长：1小时30分钟</span><span class="s-box s-icon-rs marginLeft10">选课人数：198</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include common/footer.ejs %>
</body>
</html>