html, body, ul, li, dl, dt, dd, div, h1, h2, h3, h4, h5, span, p, i { margin: 0; padding: 0; font-weight: normal; }
html { font-size: 62.5% }


* { font-family: "Microsoft YaHei"; }

a { color: #444444; text-decoration: none; }
img { border: none; }
button { border: none; }

a:hover { text-decoration: underline; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }
.marginLeft10 { margin-left: 1rem; }

.marginTop10 { margin-top: 1rem; }

.marginTop40 { margin-top: 4rem; }

.marginTop50 { margin-top: 5rem; }

.paddingTop78 { padding-top: 7.8rem; }

.height50 { clear: both; height: 5rem; font-size: 0; }
.animated { visibility: hidden; }

.visible { visibility: visible; }
