<footer class="index-footer container">
    <div class="row">
        <div class="item col-xs-4"><a href="studyrecord"><img src="images/icon011.jpg" />学习历史</a></div>
        <div class="item col-xs-4"><a href="experiencelist"><img src="images/icon012.jpg" />心得体会</a></div>
        <div class="item col-xs-4"><a href="center"><img src="images/icon013.jpg" />个人中心</a></div>
    </div>
</footer>